<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__logo"> <a href="index.html">Renome</a></div>
			<div class="footer__copyright">Copyright 2015 Renome by Estetiq</div>
			<div class="footer__social">
				<li class="footer__social-text">Follow US:</li>
				<ul class="footer__social-list">
					<li class="footer__social-link facebook">
						<a href="#"><span class="icon-facebook"></span></a>
					</li>
					<li class="footer__social-link twitter">
						<a href="#"><span class="icon-twitter"></span></a>
					</li>
					<li class="footer__social-link google">
						<a href="#"><span class="icon-google-plus"></span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>