<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__logo">Renome</div>
			<div class="footer__copyright">Copyright 2015 Renome by Estetiq</div>
			<div class="footer__social">
				<ul>
					<li class="social-text">Follow US:</li>
					<li class="social-link facebook">
						<a href="#"><i class="fab fa-facebook-f fa-sm"></i></a>
					</li>
					<li class="social-link twitter">
						<a href="#"><i class="fab fa-twitter"></i></a>
					</li>
					<li class="social-link google">
						<a href="#"><i class="fab fa-google-plus-g"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>