<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__logo">Renome</div>
			<div class="footer__copyright">Copyright 2015 Renome by Estetiq</div>
			<div class="footer__social">
				<ul>
					<li class="social-text">Follow US:</li>
					<li class="social-link facebook">
						<div class="social-link__wrapper">
							<a href="#"><span class="icon-facebook"></span></i></a>
						</div>
					</li>
					<li class="social-link twitter">
						<div class="social-link__wrapper">
							<a href="#"><span class="icon-twitter"></span></a>
						</div>
					</li>
					<li class="social-link google">
						<div class="social-link__wrapper">
							<a href="#"><span class="icon-google-plus"></span></i></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>