<header class="header" id="header">
	<div class="container container-none">
		<div class="header__inner">
			<div class="logo"><a href="index.html">Renome</a></div>
			<nav class="nav">
				<ul class="nav__list"">
					<li class=" nav__item"><a href="index.html">HOME</a></li>
					<li class="nav__item"><a href="about.html">ABOUT</a></li>
					<li class="nav__item"><a href="menu.html">MENU</a></li>
					<li class="nav__item"><a href="reservation.html">RESERVATIONS</a></li>
					<li class="nav__item sub-menu"><a href="blog.html">BLOG</a>
						<ul class="sub-menu__list">
							<li><a href="one_page.html">One Page</a></li>
							<li><a href="portfolio.html">Portfolio</a></li>
						</ul>
					</li>
					<li class="nav__item"><a href="shop.html">shop</a></li>
					<li class="nav__item"><a href="contact.html">CONTACT</a></li>
				</ul>
			</nav>
			<div class="button">
				<div class="search"><span class="icon-search"></span></i></div>
				<div class="cart"><a href="shop-checkout.html"><span class="icon-cart"></span><span>2</span></a>
					<ul class="cart__dropdown">
						<li class="cart__price">$44.50</li>
						<li class="cart__view"><a href="">View Cart</a></li>
						<li class="cart__check"><a href="shop-checkout.html">Checkout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="header-search">
		<div class="container">
			<div class="header-search__inner">
				<input type="search" placeholder="Search...">
				<div class="header-search__buttons">
					<div class="header-search__search"><span class="icon-search"></span></i></div>
					<div class="header-search__close"><i class="fas fa-times"></i></div>
				</div>
			</div>
		</div>
	</div>
</header>