<header class="header">
	<div class="container container-none">
		<div class="header__inner">
			<div class="logo">Renome</div>
			<nav class="nav" id="nav">
				<ul class="nav__list" id="ddmenu">
					<li class="nav__item page-active"><a href="#">HOME</a></li>
					<li class="nav__item"><a href="#">ABOUT</a></li>
					<li class="nav__item"><a href="#">MENU</a></li>
					<li class="nav__item"><a href="#">RESERVATIONS</a></li>
					<li class="nav__item sub-menu"><a href="#">BLOG</a>
						<ul class="sub-menu__list">
							<li><a href="#">One Page</a></li>
							<li><a href="#">Portfolio</a></li>
							<li><a href="#">Shortcodes</a></li>
						</ul>
					</li>
					<li class="nav__item"><a href="#">shop</a></li>
					<li class="nav__item"><a href="#">CONTACT</a></li>
				</ul>
			</nav>
			<div class="button">
				<div class="search"><i class="fas fa-sm fa-search"></i></div>
				<div class="cart"><i class="fas fa-sm fa-shopping-cart"></i> <span>2</span>
					<ul class="cart__dropdown">
						<li class="cart__price"><a href="#">$44.50</a></li>
						<li class="cart__view"><a href="#">View Cart</a></li>
						<li class="cart__check"><a href="#">Checkout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="header-search">
		<div class="container">
			<div class="header-search__inner">
				<input type="search" placeholder="Search...">
				<div class="header-search__buttons">
					<div class="header-search__search"><i class="fas  fa-search"></i></div>
					<div class="header-search__close"><i class="fas fa-times"></i></div>
				</div>
			</div>
		</div>
	</div>
</header>