@font-face {
  font-family: "Axis";
  src: local("Axis"), url("https://nomail.com.ua/files/woff/d553d2bb4dc29b41dc12092d38a46a2e.woff") format("woff");
}
@font-face {
  font-family: "Streetwear";
  src: local("Streetwear"), url("https://nomail.com.ua/files/woff/8954794e975303403ba650645efc0d21.woff") format("woff");
}
