.footer {
	background-color: $background-color;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 29px 0;
	}

	&__logo {
		color: #1e2633;
		font-family: Pacifico;
		font-size: 20px;
		letter-spacing: 2px;
		padding-right: 178px;
	}

	&__copyright {
		color: #1e2633;
		font-family: Axis;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 0.6px;
	}

	&__social {
		display: flex;
		align-items: center;
	

		&-list {
			display: flex;
			li+li{
				margin-left: 10px;
			}
		}

		&-text{
			margin-right: 16px;
			font-size: 12px;
			font-weight: 700;
			line-height: 25px;
			text-transform: uppercase;
		}
		&-link{
			a{
				padding: 9px 10px 8px;
				border: 2px solid #1e2633;
				border-radius: 50%;
				transition: all 0.3s ease-in-out;
				&:hover{
					border: 2px solid #985e5b;
					color: #985e5b;
				}
			}
		}
	}
}