html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.title {
  color: #1e2633;
  font-family: Axis;
  font-size: 50px;
  letter-spacing: 10px;
  margin-bottom: 21px;
}

.subtitle {
  color: #985e5b;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 27px;
}

.text {
  color: #404040;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1.8px;
}

.flipster--coverflow .flipster__item__content {
  box-reflect: inherit !important;
  -webkit-box-reflect: inherit !important;
}


.bg__text {
  font-size: 50px;
  color: #fff;
  font-family: Axis;
}
.bg__subtext {
  color: #985e5b;
  font-size: 30px;
  font-weight: 700;
}