.header {
  background-color: #fff;
  top: 0;
  right: 0;
  width: 100%;
  position: fixed;
  z-index: 9999;
  transition: all .3s ease-in-out;

  &.out {
    transform: translateY(-100%);
  }

  & a {
    transition: all .3s ease-in-out;
  }

  .burger {
    display: none;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;

    &:focus {
      outline: none;
    }

    &__item {
      display: block;
      position: absolute;
      top: 8px;
      left: 0;
      height: 2px;
      width: 18px;
      background-color: #000;


      &::after,
      &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        width: 18px;
        height: 2px;
        background-color: #000;
        transition: all 0.3s ease;
      }

      &::before {
        top: -6px;
      }

      &::after {
        bottom: -6px;
      }
    }
  }

  .burger--active {
    .burger__item {
      background: none;
    }

    .burger__item::before {
      top: 0;
      transform: rotate(45deg);
    }

    .burger__item::after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }

  .page-active {
    a {
      color: #985e5b;
    }
  }

  &-search {
    background-color: #1e2633;
    display: none;

    &__inner {
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        background-color: transparent;
        border: none;
        color: #f2f2f2;
        width: 90%;
        height: 23px;

        &::-ms-clear {
          display: none;
        }

        &::-webkit-search-cancel-button {
          display: none;
        }

        &::placeholder {
          color: #f2f2f2;
          font-family: Montserrat;
          font-size: 12px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 2.4px;
        }
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      color: #fff;
    }

    &__search {
      cursor: pointer;
    }

    &__close {
      margin-left: 20px;
      cursor: pointer;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0;
    transition: all 0.5s ease-in-out;

    .logo {
      font-family: "Pacifico", cursive;
      font-size: 25px;
    }

    .nav {
      margin-left: auto;
      
      .sub-menu {
        position: relative;
      }

      .sub-menu__title {
        cursor: pointer;
      }

      .sub-menu__list {
        position: absolute;
        display: none;
        text-align: center;
        z-index: 1000;
        top: 15px;
        left: -38px;
        padding-top: 20px;

        a {
          background-color: #fff;
          padding: 20px;
        }
      }

      &__item {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;

        a {
          color: black;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 12px;
          display: block;
        }

        &+.nav__item {
          margin-left: 30px;
        }
      }
    }

    .button {
      display: flex;
      border-left: 1px solid #000;
      margin-left: 20px;
      padding-left: 20px;

      .search {
        margin-right: 20px;
        cursor: pointer;
      }

      .cart {
        cursor: pointer;
        position: relative;

        &>a {
          display: flex;
          align-items: flex-end;
        }

        .icon-cart {
          font-weight: 400;
          font-size: 16px;
        }

        &__price {
          cursor: default;
        }

        span {
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 2.4px;
          margin-left: 8px;
        }

        &__dropdown {
          display: none;
          position: absolute;
          z-index: 1000;
          text-align: center;
          left: -45px;
          top: 59px;
          cursor: auto;

          li {
            text-decoration: none;
            color: #000;
            padding: 20px;
            background-color: #fff;
            font-weight: 700;
            font-size: 12px;
            width: 120px;
            display: inherit;
            margin-bottom: -1px;
          }
        }
      }
    }
  }
}

.header-trans {
  background-color: transparent;
  color: #fff;

  .header__inner .nav__item>a {
    color: #fff;
  }

  .header__inner .button {
    border-left: 1px solid #fff;
  }
}