.portfolio-bg {
	background-image: url(../img/portfolio-bg.jpg);
}

.portfolio-gallery {

	&__content {
		padding-top: 70px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: -16px -16px 0;
	}

	&__item {
		max-width: 388px;
		height: 388px;
		position: relative;
		margin: 8px;

		&:hover {
			.portfolio-gallery__item--hover {
				opacity: 1;
			}
		}

		&--hover {
			transition: all .5s ease-out;
			opacity: 0;
			background-color: rgba(30, 38, 51, 0.9);
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			color: white;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			color: #fff;
			font-weight: 400;
			text-transform: uppercase;
		}

		&-name {
			font-size: 12px;
			margin-bottom: 10px;
			letter-spacing: 3.6px;
		}

		&-category {
			font-size: 10px;
			letter-spacing: 3px;
		}
	}
}