.reservation-bg {
	background-image: url(../img/reservation__bg.png);
}

.reservation-form {
	border-top: 1px solid #eee;
	text-align: center;
	font-family: Montserrat;
	padding-bottom: 200px;

	&__title {
		color: #1e2633;
		font-size: 20px;
		font-weight: 700;
		line-height: 25px;
		text-transform: uppercase;
		letter-spacing: 1.7px;
		margin-top: -13px;
		margin-bottom: 100px;
	}

	&__input-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	input,
	select {
		border: none;
		border-bottom: 3px solid #f5f7fa;
		font-weight: 700;
		width: 170px;
		cursor: pointer;
		background-color: #fff;
		position: relative;
		appearance: none;
	}

	option {
		font-weight: 600;
	}


	.button {
		width: 180px;
		height: 50px;
		background-color: #1e2633;
		color: #ffffff;
		font-size: 11px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.65px;
		border: none;
		margin-top: 60px;
		cursor: pointer;
		transition: all 0.3s ease-in-out;

		&:hover {
			background-color: #985e5b;
		}
	}
}

.timepicker-wrapper,
.people-list-wrapper,
.datepicker-wrapper{
	position: relative;
	display: flex;
	align-items: center;

	&::before {
		content: '';
		background-image: url(../img/arrow_down.png);
		background-repeat: no-repeat;
		position: absolute;
		right: 0;
		top: calc(50% - 5px);
		width: 12px;
		height: 10px;
		z-index: 2222;
	}
	span{
		margin-right: 10px;
	}
}
