.shop-bg {
	background-image: url(../img/bg-shop.jpg);
}

.shop-gallery {
	&__content {

		display: flex;
		justify-content: flex-start;
		margin-left: -35px;
		flex-wrap: wrap;
	}



	&__item {

		text-align: center;
		max-width: 442px;
		width: 100%;
		margin-top: 30px;
		flex-basis: calc(33.333% - 35px);
		margin-left: 35px;

		&-img {
			margin-bottom: 30px;
			max-width: 100%;
		}

		&-name {
			font-weight: 700;
			margin-bottom: 21px;

			a {
				transition: all 0.3s ease-in-out;

				&:hover {
					color: #985e5b;
				}
			}
		}

		&-price {
			font-weight: 600;
		}
	}
}

.pagination-shop {
	border: none;
}